# deny .git
RedirectMatch 404 /\.git
RedirectMatch 404 /src/
# no directory browsing
Options All -Indexes

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#serve files direcrly
RewriteCond %{REQUEST_URI} !^/static
RewriteCond %{REQUEST_URI} !^/files
RewriteCond %{REQUEST_URI} !^/templates
RewriteCond %{REQUEST_URI} !^/favicon.ico

#rewrite everything else to index.php
RewriteRule ^(.*)$ index.php?path=$1 [NC,L,QSA]